@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0B0B0B;
  color: white;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace; /* Using basic mono for now */
}
